.schedule{
    width: 85%;
    position :fixed;
    top: 0;
    bottom: 0;
    right: 0;
    
}
.schedule table {
    margin: 80px auto;
    background: #303030;
    opacity: 99%;
    padding :10px;
    
}
.schedule th , td , table{
    border: solid 2px black;
}
.schedule th{
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    color: #AFAFAF;
    padding : 0 5px;
}
.schedule td {
    font-size:30px;
    padding:10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    color: #AFAFAF;
}
.schedule td:hover{
    color: white;
}